<!------------------------------------------
		@file update.html
		@lastmod 1/11/12
------------------------------------------->

<!-- 
	estende a base que contem o menu 
-->
{% extends 'hostnames/base_with_menu.html' %}

<!-- 
	carrega o bootstrap 
-->
{% load bootstrap3 %}

<!-- 
	define o título da página 
-->
{% block title %}
Editar Item
{% endblock %}

<!--
	início do bloco de conteúdo principal
-->
{% block main %}

<div id="main" class="container-fluid">
	<h3 class="page-header">Editar Host</h3>
</div>

<form action="/update/" method="post">{% csrf_token %}
	<div class="row">
		<div class="form-group col-md-4">
			<label for="hostname">Hostname</label>
			<input type="text" class="form-control" id="hostname" name ="hostname" value="{{host.hostname}}">
		</div>
		
		<div class="form-group col-md-4">
			<label for="macadd">Endereço Mac</label>
			<input type="text" class="form-control" id="mac" name ="mac" value="{{host.mac_address}}">
		</div>
		
		<div class="form-group col-md-4">
			<label for="ipadd">Endereço IP</label>
			<input type="text" class="form-control" id="ip" name ="ip" value="{{host.ip_address}}">
		</div>
		
		<input type="hidden" id="id" name="id" value="{{host.id}}">
	</div>

	<hr />

	<div id="actions" class="row">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a href="/list" class="btn btn-default">Cancelar</a>
		</div>
	</div>
</form>

{% endblock %}
